*{
     padding: 0px;
     margin: 0px;
     box-sizing: border-box;
}
 body{
     font-family: 'Source Sans Pro', sans-serif;
    ;
     font-size: 14px;
     line-height: 24px;
}
 h1,h2,h3,h4,h5,h6{
     font-family: sans-serif;
}
 a, a:hover{
     text-decoration: none;
}
/*heder_Section start*/
 .heder_Section{
     width: 100%;
     background:url(../images/banner-top.png) center top no-repeat;
     background-size: cover;
     padding-bottom: 58px;
}
 .bg-light {
     background-color: transparent!important;
     padding-top: 35px;
}
 .navbar-light .navbar-brand {
     margin-left: -50px;
}
 .menu span, .menu span::before, .menu span::after {
     display: block;
     width: 26px;
     right: 0;
     height: 3px;
     background-color: #fff;
     outline: 1px solid transparent;
     -webkit-transition-property: background-color, -webkit-transform;
     -moz-transition-property: background-color, -moz-transform;
     -o-transition-property: background-color, -o-transform;
     transition-property: background-color, transform;
     -webkit-transition-duration: 0.3s;
     -moz-transition-duration: 0.3s;
     -o-transition-duration: 0.3s;
     transition-duration: 0.3s;
}
/* BURGER MENU ========================================== */
 .menu {
     height: 50px;
     position: absolute;
     z-index: 21;
     right: 1%;
}
 .menu span {
     position: relative;
     margin-top: 9px;
     margin-bottom: 9px;
     -webkit-user-select: none;
     -moz-user-select: none;
     -ms-user-select: none;
     user-select: none;
     position: absolute;
     top: 50%;
     left: 50%;
     margin-left: -15px;
     margin-top: -1.5px;
}
 .menu span::before, .menu span::after {
     position: absolute;
     content: "";
}
 .menu span::before {
     top: -9px;
     width:20px 
}
 .menu span::after {
     top: 9px;
    width: 33px;
}
 .menu.clicked span {
     background-color: transparent;
}
 .menu.clicked span::before {
     -webkit-transform: translateY(9px) rotate(45deg);
     -moz-transform: translateY(9px) rotate(45deg);
     -ms-transform: translateY(9px) rotate(45deg);
     -o-transform: translateY(9px) rotate(45deg);
     transform: translateY(9px) rotate(45deg);
     width: 33px;
}
 .menu.clicked span::after {
     -webkit-transform: translateY(-9px) rotate(-45deg);
     -moz-transform: translateY(-9px) rotate(-45deg);
     -ms-transform: translateY(-9px) rotate(-45deg);
     -o-transform: translateY(-9px) rotate(-45deg);
     transform: translateY(-9px) rotate(-45deg);
}
 .menu.clicked span:before, .menu.clicked span:after {
     background-color: #ffffff;
}
 .menu:hover {
     cursor: pointer;
}
/* NAV ========================================== */
 #nav {
     background: #FF5252;
     position: fixed;
     z-index: 20;
     top: 0;
     right: 0;
     height: 100%;
     max-width: 250px;
     width: 100%;
     padding: 100px 40px 60px 40px;
     overflow-y: auto;
     -webkit-transform: translateX(100%);
     -moz-transform: translateX(100%);
     -ms-transform: translateX(100%);
     -o-transform: translateX(100%);
     transform: translateX(100%);
     -webkit-transition: transform 0.55s cubic-bezier(0.785, 0.135, 0.15, 0.86);
     -moz-transition: transform 0.55s cubic-bezier(0.785, 0.135, 0.15, 0.86);
     -o-transition: transform 0.55s cubic-bezier(0.785, 0.135, 0.15, 0.86);
     transition: transform 0.55s cubic-bezier(0.785, 0.135, 0.15, 0.86);
}
 #nav.show {
     -webkit-transform: translateX(0px);
     -moz-transform: translateX(0px);
     -ms-transform: translateX(0px);
     -o-transform: translateX(0px);
     transform: translateX(0px);
}
 #nav.show ul.main li {
     -webkit-transform: translateX(0px);
     -moz-transform: translateX(0px);
     -ms-transform: translateX(0px);
     -o-transform: translateX(0px);
     transform: translateX(0px);
     opacity: 1;
}
 .menu.clicked {
     position: fixed;
     z-index: 99;
}
 #nav.show ul.main li:nth-child(1) {
     transition-delay: 0.15s;
}
 #nav.show ul.main li:nth-child(2) {
     transition-delay: 0.3s;
}
 #nav.show ul.main li:nth-child(3) {
     transition-delay: 0.45s;
}
 #nav.show ul.main li:nth-child(4) {
     transition-delay: 0.6s;
}
 #nav.show ul.main li:nth-child(5) {
     transition-delay: 0.75s;
}
 #nav.show ul.main li:nth-child(6) {
     transition-delay: 0.9s;
}
 #nav.show ul.main li:nth-child(7) {
     transition-delay: 1.05s;
}
 #nav.show ul.main li:nth-child(8) {
     transition-delay: 1.2s;
}
 #nav.show ul.main li:nth-child(9) {
     transition-delay: 1.35s;
}
 #nav.show .about, #nav.show .social, #nav.show ul.sub {
     -webkit-transform: translateY(0px);
     -moz-transform: translateY(0px);
     -ms-transform: translateY(0px);
     -o-transform: translateY(0px);
     transform: translateY(0px);
     opacity: 1;
     transition-delay: .85s;
}
 @media (min-width: 667px) {
     #nav {
         padding: 120px 30px 70px 20px;
    }
}
 #nav ul.main {
     list-style-type: none;
}
 #nav ul.main li {
     -webkit-transform: translateX(40px);
     -moz-transform: translateX(40px);
     -ms-transform: translateX(40px);
     -o-transform: translateX(40px);
     transform: translateX(40px);
     opacity: 0;
     -webkit-transition: all 0.3s ease;
     -moz-transition: all 0.3s ease;
     -o-transition: all 0.3s ease;
     transition: all 0.3s ease;
     float: none;
     color: #fff 
}
 #nav ul.main li:last-of-type {
     margin-bottom: 0px;
}
 #nav ul.main li a {
     color: #ffffff;
     margin-left: 16px;
     text-decoration: none;
     text-transform: uppercase;
     font-size: 1rem;
     text-align: center;
     line-height: 50px;
     font-size: 26px;
     display: block;
     padding: 10px 0;
     -webkit-transition: all 0.3s ease;
     -moz-transition: all 0.3s ease;
     -o-transition: all 0.3s ease;
     transition: all 0.3s ease;
}
 #nav ul.main li a span {
     color: #3c3768;
}
 #nav ul.main li a:hover {
     color: #3c3768;
}
 #nav ul.sub {
     list-style-type: none;
     margin-top: 40px;
     -webkit-transform: translateY(30px);
     -moz-transform: translateY(30px);
     -ms-transform: translateY(30px);
     -o-transform: translateY(30px);
     transform: translateY(30px);
     opacity: 0;
     -webkit-transition: all 0.4s ease;
     -moz-transition: all 0.4s ease;
     -o-transition: all 0.4s ease;
     transition: all 0.4s ease;
}
 #nav ul.sub li {
     margin-bottom: 10px;
}
 #nav ul.sub li:last-of-type {
     margin-bottom: 0px;
}
 #nav ul.sub li a {
     color: #ffffff;
     font-family: "Raleway", sans-serif;
     letter-spacing: 1px;
     font-size: 0.9rem;
     text-decoration: none;
     -webkit-transition: all 0.3s ease;
     -moz-transition: all 0.3s ease;
     -o-transition: all 0.3s ease;
     transition: all 0.3s ease;
}
 #nav ul.sub li a:hover {
     color: #b7ac7f;
}
 .menu:hover span{
}
/* OVERLAY ========================================== */
 .overlay {
     position: fixed;
     top: 0;
     left: 0;
     z-index: 7;
     width: 100%;
     height: 100%;
     -webkit-transition: all 0.3s ease-in-out;
     -moz-transition: all 0.3s ease-in-out;
     -o-transition: all 0.3s ease-in-out;
     transition: all 0.3s ease-in-out;
     background-color: #603e82;
     opacity: 0;
     visibility: hidden;
}
 .overlay.show {
     opacity: 0.8;
     visibility: visible;
}
 .navbar img{
     width: 80%;
}
 .banner_secttion {
     width: 100%;
     padding-top: 100px;
     margin-left: 65px;
}
 .banner_secttion h1 {
     color: #3c3768;
     font-weight: 900;
     font-size: 42px;
     font-family: 'Poppins', sans-serif;
}
 .banner_secttion p {
     color: #4A5559;
     padding-top: 6px;
     font-weight: 500;
     font-size: 14px;
     line-height: 30px;
     font-family: 'Inter', sans-serif;
}
 .banner_secttion h4 {
     color: #4A5559;
     padding-top: 14px;
     font-weight: 700;
     font-size: 17px;
     line-height: 30px;
     margin-bottom: 40px;
     font-family: 'Inter', sans-serif;
}
 .form-inline .btn-outline-success {
     margin-left: 80px;
     color: #fff;
     font-weight: 700;
     box-shadow: -12px 10px 25px -14px rgb(250, 120, 117);
     background: -moz-linear-gradient(top, #f47675 0%, #b05f70 100%);
     background: -webkit-linear-gradient(top, #f47675 0%,#b05f70 100%);
    /* background: linear-gradient(to bottom, #f47675 0%,#b05f70 100%);
     */
     filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f47675', endColorstr='#b05f70',GradientType=0 );
     border: none;
     border-style: none;
     height: 48px;
     width: 125px;
     position: absolute;
     left: 225px;
}
 .form-inline .btn-outline-success:hover {
     margin-left: 80px;
     color: #b05f70;
     font-weight: 700;
     box-shadow: -12px 10px 25px -14px rgb(250, 120, 117);
     background: #fff;
     border: 1px solid #b05f70;
     height: 48px;
     width: 125px;
     position: absolute;
     left: 225px;
}
 .form-inline .form-control {
     border: 0px;
     width: 265px;
     height: 48px;
     padding: 0px 52px;
     background: -webkit-box-shadow: 1px 13px 28px 7px rgb(250, 120, 117);
     box-shadow: -12px 10px 25px -14px rgb(250, 120, 117);
}
										/*HEADER & BANNER SECTION ENDS*/
										/*CREATE SECTION START*/
 .create_Section {
     width: 99%;
     padding-top: 75px;
}
 .create_Section .container-fluid{
     padding: 0px;
}
 .create_Section .create_main{
}
 .create_Section .create_main .create_img{
}
 .create_Section .create_main .create_img img {
     width: 100%;
}
 .create_text {
     padding-top: 100px;
     margin-right: 245px;
     box-shadow: -26px 76px 57px 25px #FFF3F3;
     border: 43px solid #ffffffcf;
}
 .create_text h2{
     font-size: 30px;
     color: #3c3768;
     font-weight: 600;
     font-family: 'Poppins', sans-serif;
}
 .create_text p {
     color: #4A5559;
     padding-top: 25px;
     font-weight: 300;
     font-size: 15px;
     line-height: 30px;
     padding-bottom: 35px;
     font-family: 'Inter', sans-serif;
}
 .create_text a {
     font-weight: 700;
     font-size: 16px;
     color: #fa7875;
}

 .create_text a:hover {
     font-weight: 700;
     font-size: 16px;
     color: #3c3768;
}





/*CREATE SECTION end*/
/*FOCUS SECTION START*/
 .focus_Section {
     width: 99%;
}
 .focus_Section .container-fluid{
     padding: 0px;
}
 .focus_Section .focus_main .focus_img {
     margin-right: -15px;
}
 .focus_Section .focus_main .focus_img{
}
 .focus_Section .focus_main .focus_img img {
     width: 100%;
}
 .focus_text {
     padding-top: 210px;
     margin-left: 240px;
     box-shadow: -26px 45px 114px 11px #FFF3F3;
     border: 43px solid #ffffffcf;
}
 .focus_text h2{
     font-size: 30px;
     color: #3c3768;
     font-weight: 600;
     font-family: 'Poppins', sans-serif;
}
 .focus_text p {
     color: #4A5559;
     padding-top: 25px;
     font-weight: 300;
     font-size: 15px;
     line-height: 30px;
     padding-bottom: 35px;
     font-family: 'Inter', sans-serif;
}
 .focus_text a {
     font-weight: 700;
     font-size: 16px;
     color: #fa7875;
}

 .focus_text a:hover {
     font-weight: 700;
     font-size: 16px;
     color: #3c3768;
}

									/*Focus SECTION end*/
									/*multitasking SECTION START*/
 .multitasking_Section {
     width: 99%;
     padding-bottom: 100px;
}
 .multitasking_Section .container-fluid{
     padding: 0px;
}
 .multitasking_Section .multitasking_main{
}
 .multitasking_Section .multitasking_main .multitasking_img{
}
 .multitasking_Section .multitasking_main .multitasking_img img {
     width: 100%;
}
.multitasking_text {
    padding-top: 130px;
    margin-right: 245px;
    box-shadow: -94px 91px 45px -28px #FFF3F3;
    border: 43px solid #ffffffcf;
}
 .multitasking_text h2{
     font-size: 30px;
     color: #3c3768;
     font-weight: 600;
     font-family: 'Poppins', sans-serif;
}
 .multitasking_text p {
     color: #4A5559;
     padding-top: 25px;
     font-weight: 300;
     font-size: 15px;
     line-height: 30px;
     padding-bottom: 35px;
     font-family: 'Inter', sans-serif;
}
 .multitasking_text a {
     font-weight: 700;
     font-size: 16px;
     color: #fa7875;
}

 .multitasking_text a:hover {
     font-weight: 700;
     font-size: 16px;
     color: #3c3768;
}


											/*multitasking SECTION end*/
											/*Footer section start*/
 .footer_top{
     width: 100%;
}
 .footer_main{
     background: url(../images/subscribe.png) center top no-repeat;
}
 .footer_top .footer_main{
}
 .footer_top .footer_main .ftop_text {
     padding-top: 50px;
     margin-left: 165px;
}
 .footer_top .footer_main .ftop_text h3 {
     color: #fff;
     font-size: 36px;
     font-weight: 700;
     font-family: 'Poppins', sans-serif;
}
 .footer_top .footer_main .ftop_text p {
     color: #fff;
     padding-top: 10px;
     font-weight: 300;
     font-size: 15px;
     line-height: 30px;
     padding-bottom: 45px;
     opacity: 0.7;
     font-family: 'Inter', sans-serif;
}
 .foot_inner {
     padding-top: 120px;
}
 .foot_inner .form-inline{
}
 .foot_inner .form-inline .form-control1 {
     border: 1px;
     border-radius: 4px;
     width: 250px;
     height: 47px;
     padding: 0px 52px;
}
 .foot_inner .form-inline .btn-outline-primary {
     margin-left: 55px;
     color: #fff;
     font-weight: 700;
     background: -moz-linear-gradient(top, #f47675 0%, #b05f70 100%);
     background: -webkit-linear-gradient(top, #f47675 0%,#b05f70 100%);
     filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f47675', endColorstr='#b05f70',GradientType=0 );
     border-style: none;
     height: 48px;
     width: 125px;
     position: absolute;
     left: 225px;
     font-family: 'Inter', sans-serif;
}
 .foot_inner .form-inline .btn-outline-primary:hover {
     margin-left: 55px;
     color: #b05f70;
     font-weight: 700;
     background: #fff;
     filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f47675', endColorstr='#b05f70',GradientType=0 );
     border-style: none;
     height: 48px;
     width: 125px;
     position: absolute;
     left: 225px;
     font-family: 'Inter', sans-serif;
}
/*footer_bottom*/
 .footer_bottom {
     width: 100%;
     margin-top: -31px;
     background: url(../images/footerl.png) center top no-repeat;
     background-size: cover;
}
 .footer_bottom .fbottom_main {
     padding-top: 110px;
}
 .footer_bottom .fbottom_main .fbottomleft{
}
 .footer_bottom .fbottom_main .fbottomleft img{
}
 .footer_bottom .fbottom_main .fbottomleft p {
     color: #4A5559;
     padding-top: 25px;
     font-weight: 300;
     font-size: 13px;
     line-height: 23px;
     padding-bottom: 35px;
     font-family: 'Inter', sans-serif;
}
 .footer_bottom .fbottom_main .fbottomleft h6 {
     color: #4A5559;
     padding-top: 29px;
     font-weight: 500;
     font-size: 14px;
     font-family: 'Inter', sans-serif;
}
 .footer_bottom .fbottom_main .foot_menu {
     margin-left: 90px;
}
 .footer_bottom .fbottom_main .foot_menu a{
     color: #4A5559;
     font-weight: 700;
     font-size: 13px;
     font-family: 'Inter', sans-serif;
}
 .footer_bottom .fbottom_main .foot_menu a:hover{
     color: #b05f70;
     font-weight: 700;
     font-size: 13px;
     font-family: 'Inter', sans-serif;
}
 .foot_social {
     width: 100%;
     margin-left: 40px;
}
 .foot_social ul{
}
 .foot_social ul li {
     list-style: none;
     display: inline-block;
     padding-right: 9px;
}
 .foot_social ul li a{
}
 .foot_social ul li a i {
     width: 45px;
     height: 45px;
     line-height: 45px;
     border: 1px solid #322e57;
     border-radius: 33px;
     background: #322e57;
     color: #fff;
     font-size: 25px;
     text-align: center;
}
 .foot_social ul li a i:hover {
     width: 45px;
     height: 45px;
     line-height: 45px;
     border: 0px;
     border-radius: 33px;
     background: linear-gradient(to bottom, #f47675 0%,#b05f70 100%);
     color: #fff;
     font-size: 25px;
     text-align: center;
}
 .search-wrapper {
     position: absolute;
     -webkit-transform: translate(-50%, -50%);
     -moz-transform: translate(-50%, -50%);
     transform: translate(-50%, -50%);
     top: 79%;
     left: 92%;
}
 .search-wrapper.active {
}
 .search-wrapper .input-holder {
     overflow: hidden;
     height: 70px;
     background: rgba(255,255,255,0);
     border-radius:6px;
     position: relative;
     width:70px;
     -webkit-transition: all 0.3s ease-in-out;
     -moz-transition: all 0.3s ease-in-out;
     transition: all 0.3s ease-in-out;
}
 .search-wrapper.active .input-holder {
     border-radius: 50px;
     width:450px;
     background: rgba(0,0,0,0.5);
     -webkit-transition: all .5s cubic-bezier(0.000, 0.105, 0.035, 1.570);
     -moz-transition: all .5s cubic-bezier(0.000, 0.105, 0.035, 1.570);
     transition: all .5s cubic-bezier(0.000, 0.105, 0.035, 1.570);
}
 .search-wrapper .input-holder .search-input {
     width:100%;
     height: 50px;
     padding:0px 70px 0 20px;
     opacity: 0;
     position: absolute;
     top:0px;
     left:0px;
     background: transparent;
     -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
     box-sizing: border-box;
     border:none;
     outline:none;
     font-family:"Open Sans", Arial, Verdana;
     font-size: 16px;
     font-weight: 400;
     line-height: 20px;
     color:#FFF;
     -webkit-transform: translate(0, 60px);
     -moz-transform: translate(0, 60px);
     transform: translate(0, 60px);
     -webkit-transition: all .3s cubic-bezier(0.000, 0.105, 0.035, 1.570);
     -moz-transition: all .3s cubic-bezier(0.000, 0.105, 0.035, 1.570);
     transition: all .3s cubic-bezier(0.000, 0.105, 0.035, 1.570);
     -webkit-transition-delay: 0.3s;
     -moz-transition-delay: 0.3s;
     transition-delay: 0.3s;
}
 .search-wrapper.active .input-holder .search-input {
     opacity: 1;
     -webkit-transform: translate(0, 10px);
     -moz-transform: translate(0, 10px);
     transform: translate(0, 10px);
}
 .search-wrapper .input-holder .search-icon {
     width: 50px;
     height: 50px;
     border: none;
     border-radius: 100px;
     background: linear-gradient(to bottom, #f47675 0%,#b05f70 100%);
     padding: 0px;
     outline: none;
     position: relative;
     z-index: 2;
     float: right;
     cursor: pointer;
     -webkit-transition: all 0.3s ease-in-out;
     -moz-transition: all 0.3s ease-in-out;
     transition: all 0.3s ease-in-out;
}
 .search-wrapper.active .input-holder .search-icon {
     width: 50px;
     height:50px;
     margin: 10px;
     border-radius: 30px;
}
 .search-wrapper .input-holder .search-icon span {
     width:22px;
     height:22px;
     display: inline-block;
     vertical-align: middle;
     position:relative;
     -webkit-transform: rotate(45deg);
     -moz-transform: rotate(45deg);
     transform: rotate(45deg);
     -webkit-transition: all .4s cubic-bezier(0.650, -0.600, 0.240, 1.650);
     -moz-transition: all .4s cubic-bezier(0.650, -0.600, 0.240, 1.650);
     transition: all .4s cubic-bezier(0.650, -0.600, 0.240, 1.650);
}
 .search-wrapper.active .input-holder .search-icon span {
     -webkit-transform: rotate(-45deg);
     -moz-transform: rotate(-45deg);
     transform: rotate(-45deg);
}
 .search-wrapper .input-holder .search-icon span::before, .search-wrapper .input-holder .search-icon span::after {
     position: absolute;
     content:'';
}
 .search-wrapper .input-holder .search-icon span::before {
     width: 5px;
     height: 16px;
     left: 7px;
     top: 12px;
     border-radius: 9px;
     background: #fff;
}
 .search-wrapper .input-holder .search-icon span::after {
     width: 16px;
     height: 16px;
     left: 0px;
     top: 0px;
     border-radius: 18px;
     border: 4px solid #fff;
}
 .search-wrapper .close {
     position: absolute;
     z-index: 1;
     top:24px;
     right:20px;
     width:25px;
     height:25px;
     cursor: pointer;
     -webkit-transform: rotate(-180deg);
     -moz-transform: rotate(-180deg);
     transform: rotate(-180deg);
     -webkit-transition: all .3s cubic-bezier(0.285, -0.450, 0.935, 0.110);
     -moz-transition: all .3s cubic-bezier(0.285, -0.450, 0.935, 0.110);
     transition: all .3s cubic-bezier(0.285, -0.450, 0.935, 0.110);
     -webkit-transition-delay: 0.2s;
     -moz-transition-delay: 0.2s;
     transition-delay: 0.2s;
}
 .search-wrapper.active .close {
     right:-50px;
     -webkit-transform: rotate(45deg);
     -moz-transform: rotate(45deg);
     transform: rotate(45deg);
     -webkit-transition: all .6s cubic-bezier(0.000, 0.105, 0.035, 1.570);
     -moz-transition: all .6s cubic-bezier(0.000, 0.105, 0.035, 1.570);
     transition: all .6s cubic-bezier(0.000, 0.105, 0.035, 1.570);
     -webkit-transition-delay: 0.5s;
     -moz-transition-delay: 0.5s;
     transition-delay: 0.5s;
}
 .search-wrapper .close::before, .search-wrapper .close::after {
     position:absolute;
     content:'';
     background: #FFF;
     border-radius: 2px;
}
 .search-wrapper .close::before {
     width: 5px;
     height: 25px;
     left: 10px;
     top: 0px;
}
 .search-wrapper .close::after {
     width: 25px;
     height: 5px;
     left: 0px;
     top: 10px;
}
 .search-wrapper .result-container {
     width: 100%;
     position: absolute;
     top:80px;
     left:0px;
     text-align: center;
     font-family: "Open Sans", Arial, Verdana;
     font-size: 14px;
     display:none;
     color:#B7B7B7;
}
 @media screen and (max-width: 560px) {
     .search-wrapper.active .input-holder {
        width:200px;
    }
}
